/*
 * sircus-tools-width-responsive(md)
 ================================================== */

@media #{$g-viewport-md} {
  .t-md-width1of12  { width: 8.33333333%; }
  .t-md-width1of10  { width: 10%; }
  .t-md-width2of12  { width: 16.66666667%; }
  .t-md-width2of10  { width: 20%; }
  .t-md-width3of12  { width: 25%; }
  .t-md-width3of10  { width: 30%; }
  .t-md-width4of12  { width: 33.33333333%; }
  .t-md-width4of10  { width: 40%; }
  .t-md-width5of12  { width: 41.66666667%; }
  .t-md-width5of10,
  .t-md-width6of12,
  .t-md-widthHalf   { width: 50%; }
  .t-md-width7of12  { width: 58.33333333%; }
  .t-md-width6of10,
  .t-md-width9of12  { width: 60%; }
  .t-md-width8of12  { width: 66.66666667%; }
  .t-md-width7of10  { width: 70%; }
  .t-md-width9of12  { width: 75%; }
  .t-md-width8of10  { width: 80%; }
  .t-md-width10of12 { width: 83.33333333%; }
  .t-md-width9of10  { width: 90%;}
  .t-md-width11of12 { width: 91.66666667%; }
  .t-md-widthFull   { width: 100%; }
}
