/*
 * sircus-tools-width-responsive(sm)
 ================================================== */
@media #{$g-viewport-sm} {
  .t-sm-width1of12  { width: 8.33333333%; }
  .t-sm-width1of10  { width: 10%; }
  .t-sm-width2of12  { width: 16.66666667%; }
  .t-sm-width2of10  { width: 20%; }
  .t-sm-width3of12  { width: 25%; }
  .t-sm-width3of10  { width: 30%; }
  .t-sm-width4of12  { width: 33.33333333%; }
  .t-sm-width4of10  { width: 40%; }
  .t-sm-width5of12  { width: 41.66666667%; }
  .t-sm-width5of10,
  .t-sm-width6of12,
  .t-sm-widthHalf   { width: 50%; }
  .t-sm-width7of12  { width: 58.33333333%; }
  .t-sm-width6of10,
  .t-sm-width9of12  { width: 60%; }
  .t-sm-width8of12  { width: 66.66666667%; }
  .t-sm-width7of10  { width: 70%; }
  .t-sm-width9of12  { width: 75%; }
  .t-sm-width8of10  { width: 80%; }
  .t-sm-width10of12 { width: 83.33333333%; }
  .t-sm-width9of10  { width: 90%;}
  .t-sm-width11of12 { width: 91.66666667%; }
  .t-sm-widthFull   { width: 100%; }
}
